---
layout: default
---
<div class="container">
  <h1>Categories</h1>
  {% for c in site.data.categories %}
  {% assign category_id = c[0] %}
  {% assign category = c[1] %}
  <div class="well">
    <div class="row">
      <div class="col-sm-8">
        <h2>
          <a href="/{{ category_id }}">
            <i class="fa fa-{{ category['icon'] }}"></i>
            {{ category['name'] }}
          </a>
          <span class="badge alert-info">{{ category['language'] }}</span>
        </h2>
      </div>
      <div class="col-sm-4 text-right">
        <h2>
          {% for platform in category['platforms'] %}
          <a target="_blank" href="{{ platform[1] }}"><i class="fab fa-{{ platform[0] }}"></i></a>
          {% endfor %}
          <a target="_blank" href="/{{ category_id }}/feed.xml"><i class="fa fa-rss"></i></a>
        </h2>
      </div>
    </div>
    <p>
      {{ category['description'] }}
    </p>
    <h3>Last Posts</h3>
    {% for post in site.categories[category_id] limit:2 %}
    <div class="well">
      {% include post-summary.html %}
    </div>
    {% endfor %}
    <div class="intro">
      <p>
        <a href="/{{ category_id }}">
          See more <span class="badge alert-info">{{ site.categories[category_id].size }}</span>...
        </a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
