---
layout: default
---
<div class="container">
  <h1>Categories</h1>
    {% for c in site.data.categories %}
    {% assign category_id = c[0] %}
    {% assign category = c[1] %}
    <div class="well">
        <h2>
          <a href="/{{ category_id }}">
            {{ category['name'] }}
          </a>
          <span class="badge">{{ category['language'] }}</span>
        </h2>
        <p>
          {{ category['description'] }}
        </p>
        <h3>Last Post</h3>
        {% for post in site.categories[category_id] limit:1 %}
        <div class="well">
          {% include post-summary.html %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
