html, body {
  height: 100%;
}

body {
  font-size: 1.5em;
  padding-top: 70px;
  text-align: justify;
}

blockquote p {
  font-size: 1.3em;
}

input, button, select, textarea, label {
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.navbar, .navbar-brand {
  font-family: $font-family-sans-serif;
  font-size: 1.2em;
}

#site-name {
  color: $brand-primary;
  font-size: 1.5em;
}

#site-name:hover {
  text-decoration: none;
}

#alert {
  font-family: $font-family-sans-serif;
}

.svg-logo {
  width: 70px;
  height: auto;
}

.site-owner {
  color: $brand-primary;
}

.post-details {
  font-style: italic;
}

.post-info {
  padding-left: 0;

  li {
    list-style: none;
    display: inline;
    padding-left: 10px;

    i {
      padding-right: 10px;
    }
  }
}

.site-description {
  padding-top: 10%;
  display: block;
  color: $gray-lighter;
}

.post-title {
  color: $brand-primary;
}

.post-intro {
  font-size: 0.8em;
}

.search-input {
  padding-bottom: 1em;
}

#search-result {
  display: none;
}

#btn-clear-search {
  display: none;
}

.post-tag {
  font-family: $font-family-sans-serif;
}

.category {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.handwritten {
  font-family: $font-family-handwritten;
}

article {
  font-size: 1.3em;

  p {
    padding-bottom: 15px;
  }

  blockquote p {
    font-size: 1em;
  }

  .meta {
    padding-top: 6px;
    font-style: italic;
    text-align: right;
  }

  .post-title {
    font-size: 2em;
  }

  img {
    display: block;
    margin: 0 auto 1em auto;
    max-width: 100%;
    border-radius: 1%;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  pre {
    code {
      font-size: 1.2em;
    }
  }

  .post-info {
    li {
      img {
        margin: auto auto auto auto;
        display: inherit;
        width: 25px;
        border: none;
      }
    }
  }

  .highlighter-rouge {
    color: $text-color;
    background-color: $body-bg;
    border-width: thin;
    border-style: solid;
    border-color: $gray;
  }

}

.logo::before {
  content: url("/assets/images/logo-small.png");
}

.avatar {
  border-radius: 50%;
  margin-left: 10px;
}

.intro {
  font-style: italic;
}

.post-navigator {
  padding-bottom: 1em;
}

.next-post {
  text-align: left;
}

.previous-post {
  text-align: right;
}

.post-list {
  text-align: center;
}

#description {
  display: none;
}

#footer {
  border-top: 1px solid $brand-primary;

  .contact-link {
    list-style: none;
    display: inline;
  }
  .contact-link a:hover {
    text-decoration: none;
  }

  .copyright {
    text-align: justify;
    font-size: 90%;
    li {
      list-style: none;
      margin-bottom: 15px;
    }
  }

}

.error-message {
  font-weight: bold;

  .fa-exclamation-triangle {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.error-cause {
  font-style: italic;
}
