<body>
  {% include navbar.html %}
  <div class="container">
    <div class="row">
      <div id="alert" class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-info text-center">
          <p class="error-message">
            <i class="fa fa-exclamation-triangle"></i><span id="alert-error"></span><i class="fa fa-exclamation-triangle"></i>
          </p>
          <p class="error-cause">
            Caused by: <span id="alert-cause"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    {% include content.html %}
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
