<div id="footer">
  <div class="well well-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <div class="copyright">
            <p>
              All the blame goes to <span class="site-owner">{{ site.data.owner.name }}</span>
            </p>
            <p>{{ site.data.owner.bio }}</p>
            <p>
              {% for contact in site.data.owner.contacts %}
              <a href="{{contact[1]}}" target="_blank" title="{{ contact[0] }}"><i class="fab fa-fw fa-lg fa-{{contact[0] | downcase | replace: '_', '-'}}"></i></a>
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="container">
            <div class="logo"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
