<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="site-name" href="/">
        <img src="/assets/images/logo.svg" class="svg-logo">
        {{ site.name }}
      </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Blog</a>
        </li>
        <li>
          <a href="/cronicas">Crônicas</a>
        </li>
        <li>
          <a href="/podcast">Podcast</a>
        </li>
      </ul>
    </div>
  </div>
</div>