<div class="small">
  <ul class="post-info">
    <li>
      <i class="fa fa-calendar"></i>
    </li>
    <li>
      <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
    </li>
  </ul>
  {% if post.downloads %}
  <ul class="post-info">
    {% if post.downloads.pdf %}
    <li>
      <i class="fa fa-file-pdf"></i>
    </li>
    <li>
      <a target="_blank" href="/assets/downloads/{{ post.downloads.pdf }}">Download</a>
    </li>
    {% endif %}
    {% if post.downloads.pdf %}
    <li>
      <i class="fa fa-book"></i>
    </li>
    <li>
      <a target="_blank" href="/assets/downloads/{{ post.downloads.epub }}">Download</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>