---
layout: default
---
<div class="container">
  <article id="post">
    {% assign post = page %}
    <div class="well">
      <h1 class="text-left post-title">{{ page.title }}</h1>
      {% include post-info.html %}
      {% include post-tags.html %}
    </div>
    {% include post-intro.html %}
    {% include post-image.html %}
    <div class="well post-content">
      {% if page.audio %}
      <p>
        <audio id="player" controls>
          <source src="{{ post.audio.url }}" type="audio/mp3"/>
        </audio>
      </p>
      {% endif %}
      {{ content }}
    </div>
    {% include post-navigator.html %}
  </article>
</div>